%h1 Listing sports

%table
  %thead
    %tr
      %th Sport
      %th
      %th
      %th

  %tbody
    - @sports.each do |sport|
      %tr
        %td= sport.Sport
        %td= link_to 'Show', sport
        %td= link_to 'Edit', edit_sport_path(sport)
        %td= link_to 'Destroy', sport, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sport', new_sport_path
